/* Home */
.home-page-main {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
.home-page-sidebar {
    /* border: solid 1px black; */
}
.home-page-content {
    /* border: solid 1px black; */
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
}
.header-title {
    text-align: center;
}

/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    padding: 10px;
}

/* Articles */
.articles {
    list-style: none;
    padding: 0;
}
.articles-li {
    padding: 0;
}

/* ArticleTile */
.article-tile {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.article-tile-img {
    width: 100%;
}
.article-tile-title {
}
.article-tile-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article-tile-li {
    padding: 2px 10px 2px 10px;
}

/* ArticlePage */
.article-page-main {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
.article-page-content {
    /* border: solid 1px black; */
}

/* Article */
.article {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.article-img {
    width: 100%;
}
.article-title {
}
.article-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article-li {
    padding: 2px 10px 2px 10px;
}
.article-body {
}

/* Comments */
.comments {
}
.comments-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.comments-li {
    padding: 2px 10px 2px 10px;
}

/* Comment */
.comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.comment-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.comment-li {
    padding: 2px 10px 2px 10px;
}
.comment-body {
}

/* VoteArticle */
.vote-article {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.vote-article-li {
    padding: 2px 10px 2px 10px;
}
.vote-article-button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}
.vote-article-button:hover {
    background-color: #f7fafa;
}
.vote-article-button.highlight {
    color: #fff;
    background-color: #405cf5;
}
.vote-article-error {
    border-radius: 8px;
    color: #fff;
    background-color: #a92f2f;
    padding: 10px;
    margin: 0px;
    display: inline-block;
}
