/* Home */
.home-page-main {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
.home-page-sidebar {
    /* border: solid 1px black; */
}
.home-page-content {
    /* border: solid 1px black; */
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
}
.header-title {
    text-align: center;
}

/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    padding: 10px;
}

/* Articles */
.articles {
    list-style: none;
    padding: 0;
}
.articles-li {
    padding: 0;
}

/* ArticleTile */
.article-tile {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.article-tile-img {
    width: 100%;
}
.article-tile-title {
}
.article-tile-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article-tile-li {
    padding: 2px 10px 2px 10px;
}

/* ArticlePage */
.article-page-main {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
}
.article-page-content {
    /* border: solid 1px black; */
}

/* Article */
.article {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.article-img {
    width: 100%;
}
.article-title {
}
.article-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article-li {
    padding: 2px 10px 2px 10px;
}
.article-body {
}

/* Comments */
.comments {
}
.comments-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.comments-li {
    padding: 2px 10px 2px 10px;
}

/* Comment */
.comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.comment-ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.comment-li {
    padding: 2px 10px 2px 10px;
}
.comment-body {
}
